<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
   
</head>
<body>
    <div class="group_top">
        <div class="container">
            <div class="header-top">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col_6">
                    <img src="~/Content/img/logo.png" alt="Alternate Text" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="group_icons">
                        <a href="#">
                            <img src="~/Content/img/icon_1.png" alt="Alternate Text" />
                        </a>
                        <a href="#">
                            <img src="~/Content/img/icon_2.png" alt="Alternate Text" />
                        </a>
                        <a href="#">
                            <img src="~/Content/img/icon_3.png" alt="Alternate Text" />
                        </a>
                    </div>
                    <div class="hot-line">
                        <span id="hot-line">Hotline: 0987 654 321</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default group">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="false" id="pull">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span id="hot-line-copy">0987654321</span>
        <div class="clearfix"></div>
        <div class="container">
            <ul class="nav navbar-nav top_menu">
                <li class="dropdown">
                    <a href="@Url.Action("Index","Home")">Sản phẩm</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Tất cả</a></li>
                        <li><a href="#">Xe du lịch</a></li>
                        <li><a href="#">Xe SUV,MPV</a></li>
                        <li><a href="#">Xe chuyên dụng</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Dịch vụ", "Index", "Home")</li>
                <li>@Html.ActionLink("Mua xe", "Index", "Home")</li>
                <li>@Html.ActionLink("Đăng ký lãi thử", "Index", "Home")</li>
                <li>@Html.ActionLink("Tin tức", "Index", "Home")</li>
                <li>@Html.ActionLink("Về chúng tôi", "Index", "Home")</li>
                <li>@Html.ActionLink("Liên hệ", "Index", "Home")</li>
            </ul>
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            <div class="footer_group">
                <div class="footer_header container">
                    <div class="group_footer">
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                            <div class="title">Sản phẩm</div>
                            <ul>
                                <li>
                                    <a href="#">Xe du lịch</a>
                                </li>
                                <li>
                                    <a href="#">Xe thể thao</a>
                                </li>
                                <li>
                                    <a href="#">Đa dụng, tải nhẹ</a>
                                </li>
                                <li>
                                    <a href="#">Xe chuyên dụng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                            <div class="title">Dịch vụ</div>
                            <ul>
                                <li>
                                    <a href="#">Chương trình dịch vụ</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách dịch vụ</a>
                                </li>
                                <li>
                                    <a href="#">Phụ từng bảo hành</a>
                                </li>
                                <li>
                                    <a href="#">Chăm sóc khách hàng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                            <div class="title">Tin tức</div>
                            <ul>
                                <li>
                                    <a href="#">Tin tức chung</a>
                                </li>
                                <li>
                                    <a href="#">Tin đại lý</a>
                                </li>
                                <li>
                                    <a href="#">Tin khuyến mại</a>
                                </li>
                                <li>
                                    <a href="#">Tuyển dụng</a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                            <div class="title">Kinh nghiệm lái xe</div>
                            <ul>
                                <li>
                                    <a href="#">Hướng dẫn</a>
                                </li>
                                <li>
                                    <a href="#">Kỹ năng cần biết</a>
                                </li>
                                <li>
                                    <a href="#">Quy tắc cơ bản</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="title-copy">
                        <div class="title">
                            <ul class="list-inline">
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Dịch vụ</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Kinh nghiệm cần biết</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </footer>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <p>&copy; Copyright 2015 Hyundai bắc ninh</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();

            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
        });
    </script>
    
</body>
</html>
